# Gradle
.gradle/
build/
out/
classes/

# Quilt Loom
run/
src/main/generated

# Eclipse
*.launch

# IntelliJ Idea
.idea/
*.iml
*.ipr
*.iws

# Visual Studio Code
.settings/
.vscode/
bin/
.classpath
.project

# macOS
*.DS_Store

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*