# Gradle
.gradle/
build/
out/
classes/

# Quilt Loom
run/
src/main/generated

# Eclipse
*.launch

# IntelliJ Idea
.idea/
*.iml
*.ipr
*.iws

# Visual Studio Code
.settings/
.vscode/
bin/
.classpath
.project

# macOS
*.DS_Store