#public net.minecraft.client.world.DimensionRenderInfo field_239208_a_ # field_239208_a_
#public net.minecraft.client.renderer.WorldRenderer field_175012_t # skyVBO
#public net.minecraft.client.renderer.WorldRenderer field_175014_r # skyVertexFormat
#public net.minecraft.client.renderer.WorldRenderer field_175013_s # starVBO
#public net.minecraft.client.renderer.WorldRenderer field_175011_u # sky2VBO
#public-f net.minecraft.world.gen.feature.structure.Structure field_236384t #LAND_TRANSFORMING_STRUCTURES
#public-f net.minecraft.world.gen.settings.DimensionStructuresSettings field_236191b #DEFAULT_STRUCTURE_CONFIGS
#public-f net.minecraft.world.gen.FlatGenerationSettings field_202247_j #STRUCTURES
#public-f net.minecraft.world.gen.settings.DimensionStructuresSettings field_236193d #structures
#public-f net.minecraft.world.gen.feature.structure.Structure field_236384_t_ #LAND_TRANSFORMING_STRUCTURES
#public-f net.minecraft.world.gen.feature.structure.Structure field_236385_u_ #LAND_TRANSFORMING_STRUCTURES
#public-f net.minecraft.world.gen.settings.DimensionStructuresSettings field_236191_b_ #DEFAULT_STRUCTURE_CONFIGS
#public-f net.minecraft.world.gen.settings.DimensionStructuresSettings field_236193_d_ #DEFAULT_STRUCTURE_CONFIGS
#public net.minecraft.client.renderer.ActiveRenderInfo func_216782_a(DDD)V # move
#public net.minecraft.client.renderer.ActiveRenderInfo func_216779_a(D)D # getMaxZoom
#public net.minecraft.entity.merchant.villager.VillagerEntity field_234542_bL_ # assignProfessionWhenSpawned

public net.minecraft.world.entity.npc.Villager f_35366_ # assignProfessionWhenSpawned

public net.minecraft.client.Camera m_90568_(DDD)V # move
public net.minecraft.client.Camera m_90566_(D)D # getMaxZoom

public net.minecraft.client.renderer.DimensionSpecialEffects f_108857_ # EFFECTS
public net.minecraft.client.renderer.LevelRenderer f_109471_ # starBuffer
public net.minecraft.client.renderer.LevelRenderer f_109472_ # skyBuffer
public net.minecraft.client.renderer.LevelRenderer f_109473_ # darkBuffer

public net.minecraft.world.level.levelgen.Beardifier <init>(Lnet/minecraft/world/level/StructureFeatureManager;Lnet/minecraft/world/level/chunk/ChunkAccess;)V # Beardifier
public net.minecraft.world.level.levelgen.NoiseChunk m_188754_(III)Lnet/minecraft/world/level/block/state/BlockState; # updateNoiseAndGenerateBaseState
public net.minecraft.world.level.levelgen.NoiseChunk m_188800_(III)Lnet/minecraft/world/level/block/state/BlockState; # oreVeinify